/* *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    /*outline: 2px solid red tool to reveal wireframe
}

body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


img{
    width: 100%;
    display: block;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    height: var(--header-height);
    border-bottom: solid 1px black;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem 2rem;
}

.logo{
    width: 1.7rem;
}

.menu_text{
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    gap: 0 .5rem;
}

.menu_text a{
    color: black;
    text-decoration: none;
    transition: color .25s;
}

.menu_text a:hover {
    color: rgb(150, 150, 150);
}

.menu_text a:visited {
    color: rgb(150, 150, 150);
} */

.landing-page{
    background-color: white;
    margin-top: var(--header-height);
    /* background-color: aquamarine; */
    height: 24rem;
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px black;
}

.landing-page img{
    max-height: 8rem;
    width: unset;
}

.designedby{
    align-self: start;
}

.kyujinhan{
    align-self: end;
}

.posters-cat{
    background-color: rgb(236, 236, 236);
    padding: 1.5rem 1rem .5rem 1rem;
}

.posters-cat hr{
    position: relative;
    top: 20px;
    border: none;
    height: 1px;
    width: 5.8rem;
    background: black;
    margin-bottom: 20px;
    margin-left: -1rem;
}

.posters-cat p{
    font-size: 1.5rem;
    font-weight: 500;
}

.posters{
    background-color: rgb(236, 236, 236);
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; these are column number and width */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: end;
    gap: 5rem 0rem;
}

.posters img{
    position: relative;
    width: 100%;
    padding: 1rem 4rem 3rem 4rem;
    z-index: 1;
}

.posters a{
    position: relative;
}

.posters a::before{
    content:"";
    width: 100%;
    height: 1rem;
    background-color: rgb(200, 200, 200);
    position: absolute;
    bottom: 0;
    box-shadow: 0px -32px 0px 16px rgb(220, 220, 220);
    z-index: 0;
}



