*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    /*outline: 2px solid red tool to reveal wireframe*/
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.menubar{
    background-color: rgb(236, 236, 236);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.logo{
    width: 2rem;
}

.menu_text{
    font-size: 1rem;
    gap: .5rem;
}

a{
    color: black;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}