:root{
    --header-height: 4rem;
}

html{
    scroll-behavior: smooth;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    /*outline: 2px solid red tool to reveal wireframe*/
}

body{
    font-family: DM Sans, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    cursor: url(../image/icons8-cursor-50.png), auto;
}


img{
    width: 100%;
    display: block;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 1rem;
    height: var(--header-height);
    border-bottom: solid 1px black;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem 2rem;
}

.logo{
    width: 1.7rem;
}

/* .menu_text{
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    gap: 0 .5rem;
}    */


/* header #primary li a{
    color: black;
    font-size: 18px;
    padding-left: 2rem;
    display: block;
    text-decoration: none;
    transition: color .25s;
} */

/* #primary a:hover {
    color: rgb(150, 150, 150);
} */

header .menu_text ul{
    list-style: none;
}

header .menu_text ul li{
    position: relative;
    float: left;
    margin-left: 2rem;
}

header .menu_text ul li a {
    text-decoration: none;
    display: block;
    padding: 3px 0;
    line-height: 1;
    font-size: 18px;
    position: relative;
    z-index: 1;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, rgb(150, 150, 150), rgb(150, 150, 150) 50%, black 50%);
    background-size: 200% 100%;
    background-position: -100%;
    transition: all 0.2s ease-in-out;
}

header .menu_text ul li a:before {
    display: block;
    content: '';
    width: 0;
    height: 1.5px;
    bottom: 5px;
    left: 0;
    bottom: -3px;
    z-index: 0;
    position: absolute;
    background: rgb(150, 150, 150);
    transition: all 0.2s ease-in-out;
}
header .menu_text ul li a:hover {
    background-position: 0%;
}
header .menu_text ul li a:hover:before {
    width: 100%;
}

.back-to-top{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
    color: black;
    padding: .5rem .5rem .7rem .5rem;
    font-size: 1.5rem;
    line-height: 0.5;
    text-decoration: none;
    border: solid 1px black;
    border-radius: 50%;
}

footer{
    text-align: center;
    background-color: rgb(236, 236, 236);
    color: rgb(100, 100, 100);
    padding: 5rem 0rem 4rem 0rem;
}

#menu-bar{
    display: none;
}

header label{
    display: none;
    cursor:  pointer;
}

@media screen and (max-width:768px){

    header{
        padding:1rem;
    }

    header label{
        display: initial;

    }

    header .menu_text{
        position: absolute;
        /* padding-right: 2rem; */
        top: 100%;
        /* left: 0; */
        right: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        background: rgba(255, 255, 255,);
        display: none;
        list-style: none;
    }

    header .menu_text ul{
        width: 6rem;
    }

    header .menu_text ul li{
        width: 100%;
        padding: .7rem 0rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        margin-left: 0;
    }

    header .menu_text ul li a{
        padding-right: 1rem;
        text-align: end;
        color: black;
        font-size: 18px;
        display: block;
        text-decoration: none;
        background-image: none;
        -webkit-background-clip: initial; /* Remove -webkit-background-clip */
        -webkit-text-fill-color: initial; /* Remove -webkit-text-fill-color */
        transition: none;
    }

   header .menu_text ul li a:before {
        display: block;
        content: '';
        width: 0;
        height: 0px;
        bottom: 0px;
        left: 0;
        bottom: 0px;
        text-decoration: none; 
        transition: none;
    }

    header .menu_text ul li a:hover,
    header .menu_text ul li a:hover:before {
        text-decoration: none; /* Remove underline on hover */
    }


    #menu-bar:checked ~ .menu_text{
        display: initial;
    }
}

/* Regular styles for all devices */
.touch-device header .menu_text ul li a{
    padding-right: 1rem;
    text-align: end;
    color: black;
    font-size: 18px;
    display: block;
    text-decoration: none;
    background-image: none;
    -webkit-background-clip: initial; /* Remove -webkit-background-clip */
    -webkit-text-fill-color: initial; /* Remove -webkit-text-fill-color */
    transition: none;
}

.touch-device header .menu_text ul li a:before {
    display: block;
    content: '';
    width: 0;
    height: 0px;
    bottom: 0px;
    left: 0;
    bottom: 0px;
    text-decoration: none; 
    transition: none;
}

.touch-device header .menu_text ul li a:hover,
.touch-deviceheader .menu_text ul li a:hover:before {
    text-decoration: none; /* Remove underline on hover */
}